* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

main {
  min-height: 90vh;
}

body {
  /* width: 100vw;
  height: 100vh; */
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  width: 80%;
  height: auto;
  margin-bottom: 4vh;
}

.key {
  position: absolute;
  top: 2px;
  right: 10px;
  opacity: 0.6;
}
.key:hover {
  cursor: pointer;
  opacity: 1;
}

input {
  padding: 5px;
  border: 2px solid #909090;
}
