* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    position: relative;
}

#modal-background {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0,0,0,0.5); */
    z-index: 0;
}

main {
    min-height: 100vh;
    max-width: 100vw;
    z-index: 1;
}

#user-info {
    max-width: 100vw ;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(129, 105, 235);
    height: 10vh;

}

#home {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 20px;
}

.material-symbols-outlined {
    color: aliceblue;
}

#cart {
    margin: 20px;
}

#modal-dismiss {
    border: none;
    margin: 0;
    padding: 0px 10px;
    width: auto;
    overflow: visible;

    background: transparent;
    background-color: aliceblue;
    cursor: pointer;
    color: rgb(129, 105, 235);
    font: inherit;

}

#pedido {
    display: none;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgb(129, 105, 235);
    color: #ffff;
    font-size: 1.4rem;
  }